name: Image Push
on:
  push:
    branches:
      - main
jobs:
  build-single-arch:
    strategy:
      matrix:
        include:
          - runner: depot-ubuntu-22.04-16,dagger=0.19.10
            arch: amd64
          - runner: depot-ubuntu-22.04-arm-16,dagger=0.19.10
            arch: arm64
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.24"
      - name: Build and publish ${{ matrix.arch }} images
        env:
          APOXY_DOCKERHUB_PASSWORD: ${{ secrets.APOXY_DOCKERHUB_PASSWORD }}
          SCCACHE_WEBDAV_TOKEN: ${{ secrets.SCCACHE_WEBDAV_TOKEN }}
          SHUTUP: 1
        timeout-minutes: 30
        run: |
          dagger call -v publish-single-arch-images --src=. --tag=latest --sha=${GITHUB_SHA::7} --registry-password=env:APOXY_DOCKERHUB_PASSWORD --sccache-token=env:SCCACHE_WEBDAV_TOKEN

  publish-multiarch:
    needs: build-single-arch
    runs-on: depot-ubuntu-22.04,dagger=0.19.10
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.24"
      - name: Create multi-arch manifests
        env:
          APOXY_DOCKERHUB_PASSWORD: ${{ secrets.APOXY_DOCKERHUB_PASSWORD }}
          SHUTUP: 1
        timeout-minutes: 10
        run: |
          dagger call -v publish-multiarch-images --tag=latest --registry-password=env:APOXY_DOCKERHUB_PASSWORD
