name: Image Push
on:
  push:
    branches:
      - main
jobs:
  build-edge-runtime:
    strategy:
      matrix:
        include:
          - runner: depot-ubuntu-22.04-16,dagger=0.19.10
            arch: amd64
          - runner: depot-ubuntu-22.04-arm-16,dagger=0.19.10
            arch: arm64
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.24"
      - name: Build and publish edge-runtime (${{ matrix.arch }})
        env:
          APOXY_DOCKERHUB_PASSWORD: ${{ secrets.APOXY_DOCKERHUB_PASSWORD }}
          SCCACHE_WEBDAV_TOKEN: ${{ secrets.SCCACHE_WEBDAV_TOKEN }}
          SHUTUP: 1
        timeout-minutes: 30
        run: |
          dagger call -v publish-edge-runtime --sha=${GITHUB_SHA::7} --registry-password=env:APOXY_DOCKERHUB_PASSWORD --sccache-token=env:SCCACHE_WEBDAV_TOKEN

  publish-edge-runtime-multiarch:
    needs: build-edge-runtime
    runs-on: depot-ubuntu-22.04,dagger=0.19.10
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.24"
      - name: Create edge-runtime multi-arch manifest
        env:
          APOXY_DOCKERHUB_PASSWORD: ${{ secrets.APOXY_DOCKERHUB_PASSWORD }}
          SHUTUP: 1
        timeout-minutes: 5
        run: |
          dagger call -v publish-edge-runtime-multiarch --sha=${GITHUB_SHA::7} --registry-password=env:APOXY_DOCKERHUB_PASSWORD

  publish-images:
    needs: publish-edge-runtime-multiarch
    runs-on: depot-ubuntu-22.04-32,dagger=0.19.10
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.24"
      - name: Build and publish all images
        env:
          APOXY_DOCKERHUB_PASSWORD: ${{ secrets.APOXY_DOCKERHUB_PASSWORD }}
          SHUTUP: 1
        timeout-minutes: 30
        run: |
          dagger call -v publish-images --src=. --tag=latest --sha=${GITHUB_SHA::7} --registry-password=env:APOXY_DOCKERHUB_PASSWORD --edge-runtime-tag=${GITHUB_SHA::7}
